.activity {
    margin-top: 48px;
    display: flex;
    background-color: #121722;
    border-radius: 16px;
    &__item {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        padding: 226px 0 0 48px;
    }
    &__img {
        width: 99%;
        padding: 80px 23px 80px 128px;
    }
    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 38px;
        padding-bottom: 20px;
    }
    &__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #b9c0d5;
    }
}

@media (max-width: 1169.75px) {
    .activity {
        &__img--style {
            width: 100%;
        }
        &__item {
            width: 40%;
            padding-top: 80px;
            padding-left: 5px;
        }
        &__img {
            padding-left: 20px;
        }
    }
}

@media (max-width: 767.75px) {
    .activity {
        width: 98%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        &__item {
            padding-top: 20px;
            padding-left: 5px;
            width: 100%;
            text-align: center;
        }
        &__title {
            font-size: 26px;
        }
        &__img {
            width: 98%;
            padding: 10px 5px;
        }
    }
}