section.container.activity
  .activity__item
    h1.activity__title Understand what content performs
    p.activity__text Get insight into when clients view the shared space and what they clicked on.
  .activity__img
    img(src="./assets/imgs/activity.png", alt="activity").activity__img--style