section.container.explore 
  h2.explore__title Explore Dock templates
  p.explore__text Explore templates for sales, customer success, and agencies.
  p.explore__text Customize any template and share with clients.
  a(href="#").explore__link Explore templates →