section.container.feedback.save
  .feedback__item
    .feedback__person.feedback__save
      p.feedback__person--title Save Time.
      p.feedback__person--text Duplicate work from project to project, so you’re not starting from scratch every time.
      img(src="./assets/imgs/save.png", alt="save").feedback__person--img.feedback__save--img
    .feedback__feed.feedback__move
      p.feedback__person--title Move the relationship forward.
      p.feedback__person--text Notifications give visibility into how the project is moving along.
      img(src="./assets/imgs/move.png", alt="person").feedback__person--card.feedback__save--card

    