section.container.feedback
  .feedback__item
    .feedback__person
      p.feedback__person--title Personalization at scale.
      p.feedback__person--text Create branded spaces with custom content.
      img(src="./assets/imgs/person.png", alt="person").feedback__person--img
    .feedback__feed
      p.feedback__person--title Share feedback & move projects along.
      p.feedback__person--text Customers comment on what you’re working on and share key resources with file uploads.
      img(src="./assets/imgs/feedback.png", alt="person").feedback__person--card