header.logo.container.footer
      .footer__item1
        .footer__submenu
          img(src="./assets/imgs/logo.png", alt="logo" height='26px' width='114px').footer__submenu--logo
          p.footer__submenu--text Copyright © 2021 Dock Labs, Inc.
          p.footer__submenu--text All rights reserved.
        .footer__privacy
            a(href="#").footer__link Legal
            a(href="#").footer__link Terms of Service
            a(href="#").footer__link Privacy Policy
            a(href="#").footer__link Privacy Request 
      .footer__item2     
        .footer__support 
            a(href="#").footer__link Support
            a(href="#").footer__link Help Center
            a(href="mailto:support@dock.us").footer__link support@dock.us
        .footer__general
            a(href="#").footer__link General
            a(href="#").footer__link Request Invite
            a(href="#").footer__link Twitter
