header.logo.container.header
    .header__menu
      div.header__submenu
        img(src="./assets/imgs/logo.png", alt="logo").logo
        a(href="#").header__greytext
          li Why Dock
        a(href="#").header__greytext
          li Solutions
        a(href="#").header__greytext
          li Templates
        a(href="#").header__greytext
          li Library
      div.header__login 
        a(href="#").header__greytext
          li Login
        a(href="#").header__login--get
          li Get Started
    

