section.container.helper
  .helper__item
    h2.helper__item--title Discover how Sales and Customer teams use Dock everyday
    p.helper__item--text Dock helps companies across the customer lifecycle.
  .helper__type
    img(src="./assets/imgs/helper__item1.svg", alt="logo").helper__type--img
    h3.helper__type--sales Sales
    h2.helper__type--title Transform the sales experience
    p.helper__type--text Dock makes it easy for prospects to buy and helps sales teams build a repeatable process.
    a(href="$").helper__type--link Learn more 
  .helper__type
    img(src="./assets/imgs/helper__item2.svg", alt="logo").helper__type--img
    h3.helper__type--sales Customer Success
    h2.helper__type--title Build strong relationships with customers
    p.helper__type--text Dock helps companies onboard customers and manage ongoing relationships.
    a(href="$").helper__type--link Learn more 