section.container.navigator
  .navigator__item
    img(src="./assets/imgs/customer.png", alt="customer").navigator__img
    div.navigator__text
      h2.navigator__title Navigate complex deals and onboard customers
      p.navigator__subtitle Stop using that spreadsheet. Instead, build a collaborative mutual action plan with customers - share status, align due dates, assign tasks, leave comments and upload files.
