section.container.new
  .new__item
    h1.new__title The new way to manage external relationships
    p.new__text Create shared spaces with prospects and customers
    a(href="#")
      p.new__text--btn Get Started
  .new__img
    img(src="./assets/imgs/manager.png", alt="manager").new__img--style
  .new__transform
    h2.new__transform--title Transform the customer experience from demo to onboarding and beyond
    h3.new__transform--text Personalized spaces that make you look professional.