section.container.product
  .product__item
    h1.product__title Clients always know where to go when they need something
    p.product__text One destination that hosts all of your links, pdfs, meeting agendas, deliverables, project timelines, proposals, and more.
    div.product__line
    p.product__text Embed your favorite software from Figma to Google Slides to Vimeo.
    img(src="./assets/imgs/links.svg", alt="links").product__link--style
  .product__img
    img(src="./assets/imgs/marcedo.png", alt="marcedo").product__img--style
  