section.templates
  .templates__body
    .templates__item1
      img(src="./assets/imgs/templates/item1.jpg", alt="item1").templates__img
      h3.templates__title Sales 
      h2.templates__text Demo Follow Up
    .templates__item1
      img(src="./assets/imgs/templates/item2.jpg", alt="item2").templates__img
      h3.templates__title Sales 
      h2.templates__text Enterprise Sales
    .templates__item1
      img(src="./assets/imgs/templates/item3.jpg", alt="item3").templates__img
      h3.templates__title Agency
      h2.templates__text Design Proposal 
    .templates__item1
      img(src="./assets/imgs/templates/item4.jpg", alt="item4").templates__img
      h3.templates__title Agency
      h2.templates__text Website Proposal
    .templates__item1
      img(src="./assets/imgs/templates/item5.jpg", alt="item5").templates__img
      h3.templates__title Agency 
      h2.templates__text Brand Design Project
    .templates__item1
      img(src="./assets/imgs/templates/item6.jpg", alt="item6").templates__img
      h3.templates__title Customer Success
      h2.templates__text Implementation Plan 